body {
  margin: 0em;
  font-family: "Body Font";
  background-color: var(--background--light);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 70em;
  margin-right: auto;
  margin-left: auto;
}

/* p {
  line-height: 1.5;
}

ul li {
  padding: 0 0 5px 0;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}



.col {
  padding: 1em;
  margin: 0 2px 2px 0;
  background: #F3F9FE;
  overflow: hidden;
}

.layout {
  margin-bottom: 1em;
}

.hidden {
  display: none;
} */

