.content-panel {
  display: flex;
  justify-content: center;
  height: 430px;
}

.content-panel__background {
  height: 289px;
  width: 100%;
  background-color: var(--background--medium);
  z-index: 0;
  position: absolute;
  margin-top: 80px;
}
@media (--small) {
  .content-panel__background {
    margin-top: 230px;
    height: 400px;
  }
}

.content-panel__content {
  z-index: 2;
  lost-utility: clearfix;
  lost-align: top;
  /* lost-utility: edit; */
  padding-top: 30px;
  lost-utility: clearfix;
}
@media (--small) {
  .content-panel__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
  .content-panel__image-box {
  }
  @media (--desktop) {
    .content-panel__image-box {
      lost-masonry-column: 15/48;
    }
  }
    .content-panel__image {
      max-height: 376px;
      padding: 9px;
      box-shadow: 0px 0px 7px 0px #ccc;
      background-color: var(--background--light);
    }
    @media (--small) {
      .content-panel__image {
        max-height: 336px; 
      }
    }
  .content-panel__description {
  }
  @media (--desktop) {
    .content-panel__description {
      margin-left: 39px;
      padding-top: 120px;
      lost-masonry-column: 1/2;
    }
  }
  @media (--small) {
    .content-panel__description {
      width: 80%
    }
  }
    .content-panel__text-area {
      padding-top: 5px;
      font-size: 0.75em;
    }
    @media (--small) {
      .content-panel__text-area {
        font-size: 1em;
      }
    }
    .content-panel__seperator {
      lost-utility: clearfix;
    }
      .content-panel__hr {
        width: 39px;
        height: 2px;
        background-color: var(--black);
      }
    .content-panel__header {
      font-family: 'Header Font';
    }
    @media (--small) {
      .content-panel__header {
        font-size: 2em;
      }
    }